@use'./../mixins/breakpoint'as breakpoint;
@use './../mixins/disable-mob-hover'as disable-mob-hover;

.reviews {
    min-height: 500px;
    background-image: url("./../../img/Reviews/bg.png");
    background-position: right 150px top 10px;
    background-size: 480px 480px;
    background-repeat: no-repeat;

    &__inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 30px;

        &_items {
            display: flex;
            align-items: start;
            justify-content: center;
            gap: 20px;
        }

        &_item {
            flex: 0 0 384px;
            border-radius: 32px;
            height: 320px;
            background: #ebfaf3;
        }

        &_navigation {
            display: flex;
            align-items: center;
            gap: 16px;

            @include breakpoint.post-tablet {
                display: none;
            }
        }

        &_pagination {
            position: initial;
            display: none;

            @include breakpoint.post-tablet {
                display: block;

                .swiper-pagination-bullet {
                    background-color: var(--primary-green);
                }
            }
        }

        &_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            padding: 12px;
            width: 48px;
            height: 48px;
            text-align: center;
            background-color: var(--neutral-lightest);

          @include disable-mob-hover.hover {
            &:hover {
              background-color: #6d6666;
            }
          }

          &:active {
            border:1px solid #000;
          }
        }
    }
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 28px;


    &_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &_stars {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &_name {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: var(--neutral-darkest);
    }

    &_body p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: var(--neutral-darkest);
    }

    &_subject {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        color: #1baa7d;
    }

    &_footer {
        margin-top: auto;
    }
}
