@use './../mixins/breakpoint'as breakpoint;

.subscription {
    &__inner {
        padding-bottom: 100px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 32px;

        @include breakpoint.mobile {
            flex-wrap: nowrap;
            justify-content: start;
            overflow-x: scroll;
            padding-right: 20%;
            padding-left: 15%;
            width: 100%;
            scroll-snap-type: x mandatory;
            gap: 15%;
        }
    }

    &__item {
        display: flex;
        flex-basis: 280px;
        flex-direction: column;
        border-radius: 32px;
        padding: 28px;
        height: 480px;

        &_header {
            display: flex;
            align-items: start;
            border-bottom: 1px solid #d6d6d6;
            padding-bottom: 20px;
        }

        &_title {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            text-align: center;
        }

        &_info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 15px;
        }

        &_body {
            padding-top: 20px;
        }

        &_btn {
            margin-top: 24px;
            width: 100%;
            height: 48px;
        }

        &--primary {
            background-color: #ebfaf3;

            .subscription__item_title {
                color: var(--neutral-darkest);
            }

            .info__list_item {
                color: var(--neutral-darkest);
            }

            .item__footer_price {
                color: var(--primary-green);
            }
        }

        &--secondary {
            background-color: var(--primary-green);

            .subscription__item_title {
                color: var(--light-color);
            }

            .info__list_item {
                color: var(--light-color);
            }

            .item__footer_price {
                color: var(--light-color);
            }
        }

        &--tertiary {
            background: linear-gradient(225deg, #cb27a2 0%, #7e48c0 100%);

            .subscription__item_title {
                color: var(--light-color);
            }

            .info__list_item {
                color: var(--light-color);
            }

            .item__footer_price {
                color: var(--light-color);
            }

            .subscription__item_btn {
                &:hover {
                    background: #7e48c0;
                }
            }
        }

        @include breakpoint.mobile {
            flex: 1 0 150%;
            scroll-snap-align: center;
        }
    }
}

.info__list {
    &_item {
        display: flex;
        align-items: center;
        gap: 12px;

        svg {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            stroke: currentcolor;
        }

        span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
        }
    }
}

.item__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    text-align: center;

    &_price {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        text-align: center;
    }
}