.successes {


    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: #303030;
    }

    &__inner {
        padding-top: 60px;
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
}

.selector {
    background: var(--light-color);
    overflow: hidden;
    width: 168px;
    min-height: 44px;
    max-height: 44px;
    border: 1px solid #303030;
    border-radius: 24px;
    transition: all 1.5s ease;

    &__header {
        padding: 12px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 14px;
            line-height: 143%;
            color: #303030;
        }
    }

    &__btn {
        svg {
            transition: all 1s ease;
        }
    }

    &__body {
        width: 100%;
        background: var(--light-color);
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 12px 15px;
        border-top: 1px solid #303030;
    }

    &.active {
        transition: all 1.5s ease;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        max-height: 150px;

        .selector__body {
            padding: 12px 15px;
            border-top: 1px solid #303030;
            border-radius: 0 0 24px 24px;

        }

        .selector__btn svg {
            transform: rotate(180deg);
        }
    }


}

.chart {
    border-radius: 32px;
    padding: 32px 32px 40px 32px;
    width: 100%;
    height: 357px;
    background-color: var(--neutral-lightest);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__body {
        padding-bottom: 40px;
        height: 100%;
        display: flex;
        align-items: end;
        gap: 20px;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: var(--neutral-darkest);
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 12px;

        &_btn {
            border: 1px solid #303030;
            border-radius: 50px;
            padding: 8px;
            width: 36px;
            height: 36px;
        }
    }

    &__points {
        padding-bottom: 50px;


        &_item {
            text-align: right;
            margin-top: 32px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: #7d7979;
        }
    }

    &__lines {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__line {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: end;
        height: 200px;

        &_title {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-align: center;
            color: #7d7979;
        }

        &_candle {
            border-radius: 12px;
            width: 44px;
            max-height: 200px;
            background-color: var(--primary-green);
        }
    }
}