@use './../mixins/breakpoint'as breakpoint;

.successes {
    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: #303030;
    }

    &__inner {
        padding-top: 60px;
        width: 100%;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;

        @include breakpoint.small-mobile {
            flex-direction: column;
            align-items: start;

        }
    }

    &__body {
        margin-top: 30px;
    }

    &__selector {
        position: absolute;
        right: 0;
        top: 0;

        @include breakpoint.small-mobile {
            position: initial;
        }
    }

    &__results {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2%;

        @include breakpoint.post-tablet {
            flex-wrap: wrap;
            justify-content: center;
            gap: 2%;
        }
    }

    &__footer {
        padding-top: 30px;
    }
}
