:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1216px;
  --container-offset: 23px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --black-color: #000;
  --text-color: #060606;
  --primary-green: #1baa7d;
  --neutral-dark: #494949;
  --neutral-lightest: #f5f5f5;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  border-radius: 20px;
  padding: 12px 20px;
}
.btn--primary {
  color: var(--light-color);
  background: var(--primary-green);
}
.btn--primary:hover {
  color: var(--primary-green);
  background: var(--light-color);
  border: 1px solid var(--primary-green);
}
.btn--secondary {
  color: var(--black-color);
  background: var(--light-color);
}
.btn--secondary:hover {
  background-color: var(--primary-green);
  color: var(--light-color);
  border: 1px solid var(--light-color);
}

.header {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #d6d6d6;
}
.header__container {
  height: 100%;
}
.header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 43px;
}
.header__list_item a {
  font-family: "Zona Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #202020;
}
.header__list_item a:hover {
  color: var(--primary-green);
}
.header__btn {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.hero {
  height: 570px;
  padding-top: 32px;
}
.hero__inner {
  width: 100%;
  height: 485px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 38px;
  background-image: url("./../../img/Hero/hero_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.hero__info {
  max-width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.hero__info p {
  max-width: 350px;
  margin-top: 20px;
}
.hero__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}
.hero p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
}
.hero__btn {
  margin-top: 56px;
  width: 196px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

/* stylelint-disable */
/* stylelint-disable */
.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 110px;
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info__item span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 92px;
  color: var(--text-color);
}
.info__item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: var(--text-color);
}

.learn__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  color: #303030;
}
.learn__inner {
  padding-top: 80px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}
.learn__items_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
}
.learn__items_bottom {
  margin-top: 32px;
}
.learn__items_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}
.learn__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 32px;
  padding: 28px 32px;
  min-width: 384px;
  height: 100px;
  background-color: var(--neutral-lightest);
}
.learn__item h6 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #303030;
}
.learn__item span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #303030;
  border-radius: 12px;
  padding: 8px 12px;
  min-width: 121px;
  height: 44px;
  background-color: #ebfaf3;
}/*# sourceMappingURL=main.css.map */
