:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1216px;
  --container-offset: 23px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --black-color: #000;
  --text-color: #060606;
  --primary-green: #1baa7d;
  --neutral-dark: #494949;
  --neutral-lightest: #f5f5f5;
  --neutral-darkest: #303030;
}

/* stylelint-disable */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  border-radius: 20px;
  padding: 12px 20px;
}
.btn--primary {
  color: var(--light-color);
  background: var(--primary-green);
}
@media (any-hover: hover) {
  .btn--primary:hover:hover {
    border: 1px solid var(--primary-green);
    color: var(--primary-green);
    background: var(--light-color);
  }
}
.btn--primary:active {
  -webkit-box-shadow: 2px 2px 5px var(--primary-green);
  box-shadow: 2px 2px 5px var(--primary-green);
}
.btn--secondary {
  color: var(--black-color);
  background: var(--light-color);
}
@media (any-hover: hover) {
  .btn--secondary:hover:hover {
    border: 1px solid var(--light-color);
    color: var(--light-color);
    background-color: var(--primary-green);
  }
}
.btn--secondary:active {
  -webkit-box-shadow: 2px 2px 5px var(--light-color);
  box-shadow: 2px 2px 5px var(--light-color);
}

.section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  color: var(--neutral-darkest);
}
@media (max-width: 611px) {
  .section__title {
    font-size: 37px;
  }
}
@media (max-width: 576px) {
  .section__title {
    font-size: 31px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

/* stylelint-disable */
.header {
  position: relative;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  height: 75px;
}
.header__container {
  height: 100%;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 43px;
}
.header__list_item a {
  font-family: "Zona Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #202020;
}
@media (any-hover: hover) {
  .header__list_item a:hover:hover {
    color: var(--primary-green);
  }
}
.header__btn {
  max-width: 92px;
  font-weight: 600;
  font-size: 16px;
  color: var(--light-color);
}
.header__burger {
  display: none;
}
.header__burger.burger--active {
  color: var(--light-color);
}
.header__mobile_menu.menu--active {
  display: block;
}
@media (max-width: 800px) {
  .header__nav {
    display: none;
  }
  .header__inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__btn {
    margin-right: 5%;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 456px) {
  .header__btn {
    display: none;
  }
}

.burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: transparent;
  cursor: pointer;
  z-index: 110;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* bit components: */
/* stylelint-disable */
.hero {
  padding-top: 32px;
  width: 100%;
  height: 60vh;
}
.hero__container {
  height: 100%;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 20px;
  height: 100%;
  min-height: 485px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 38px;
  background-image: url("./../../img/Hero/hero_bg.jpg");
  background-image: -webkit-image-set("./../../img/Hero/hero_bg.webp" type("image/webp"), "./../../img/Hero/hero_bg.jpg" type("image/jpg"));
  background-image: image-set("./../../img/Hero/hero_bg.webp" type("image/webp"), "./../../img/Hero/hero_bg.jpg" type("image/jpg"));
}
@media (max-width: 1124px) {
  .hero__inner {
    padding-left: 2%;
    gap: 0;
  }
}
@media (max-width: 890px) {
  .hero__inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
@media (max-width: 576px) {
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    min-height: initial;
  }
}
.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-top: 50px;
  height: 100%;
  max-width: 490px;
}
.hero__info p {
  margin-top: 20px;
  max-width: 350px;
}
@media (max-width: 1124px) {
  .hero__info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .hero__info {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding-top: 10%;
    padding-right: 10px;
    background-image: url("./../../img/Hero/hero_image.png");
    background-position: 200% 200%;
    background-size: 85% 85%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1124px) {
  .hero__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    height: 100%;
  }
}
@media (max-width: 890px) {
  .hero__image {
    display: none;
  }
}
.hero__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 37px;
  }
}
.hero p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
}
@media (max-width: 576px) {
  .hero p {
    font-size: 17px;
  }
}
.hero__btn {
  margin-top: 56px;
  padding: 16px 38px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}
@media (max-width: 1024px) {
  .hero__btn {
    margin-top: 2%;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    padding: 13px 31px;
    font-size: 15px;
  }
}

.info__inner {
  padding-top: 5%;
  height: 100%;
}
@media (max-width: 576px) {
  .info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5%;
  }
}
.info__list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  gap: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 611px) {
  .info__list {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    height: 60vh;
    gap: 50px;
  }
}
@media (max-width: 456px) {
  .info__list {
    gap: 20px;
  }
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info__item span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 92px;
  color: var(--text-color);
}
@media (max-width: 611px) {
  .info__item span {
    font-size: 71px;
  }
}
.info__item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: var(--text-color);
}
@media (max-width: 611px) {
  .info__item p {
    font-size: 12px;
  }
}

.learn {
  min-height: 490px;
}
.learn__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 40px;
}
.learn__items {
  padding: 0 2%;
  width: 100%;
}
.learn__items_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
}
.learn__items_list {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 100px;
  -ms-grid-columns: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  gap: 5% 2%;
}
@media (max-width: 800px) {
  .learn__items_list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    row-gap: 0;
  }
}
@media (max-width: 611px) {
  .learn__items_list {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    row-gap: 0;
  }
}
.learn__item {
  width: 100%;
}
@media (max-width: 800px) {
  .learn__item {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.learn__item:last-child {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 800px) {
  .learn__item:last-child {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
@media (max-width: 611px) {
  .learn__item:last-child {
    grid-column: auto;
  }
}

.reviews {
  min-height: 500px;
  background-image: url("./../../img/Reviews/bg.png");
  background-position: right 150px top 10px;
  background-size: 480px 480px;
  background-repeat: no-repeat;
}
.reviews__inner {
  padding-top: 100px;
  padding-bottom: 100px;
}
.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}
.reviews__slider_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.reviews__slider_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 384px;
  flex: 0 0 384px;
  border-radius: 32px;
  height: 320px;
  background: #ebfaf3;
}
.reviews__slider_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 967px) {
  .reviews__slider_navigation {
    display: none;
  }
}
.reviews__slider_pagination {
  position: initial;
  display: none;
}
@media (max-width: 967px) {
  .reviews__slider_pagination {
    display: block;
  }
  .reviews__slider_pagination .swiper-pagination-bullet {
    background-color: var(--primary-green);
  }
}
.reviews__slider_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50px;
  padding: 12px;
  width: 48px;
  height: 48px;
  text-align: center;
  background-color: var(--neutral-lightest);
}
@media (any-hover: hover) {
  .reviews__slider_btn:hover:hover {
    background-color: #6d6666;
  }
}
.reviews__slider_btn:active {
  border: 1px solid #000;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 28px;
}
.slider__item_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.slider__item_stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
.slider__item_name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--neutral-darkest);
}
.slider__item_body p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: var(--neutral-darkest);
}
.slider__item_subject {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #1baa7d;
}
.slider__item_footer {
  margin-top: auto;
}

.subscription__inner {
  padding-bottom: 100px;
}
.subscription__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
  gap: 32px;
}
@media (max-width: 576px) {
  .subscription__list {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    overflow-x: scroll;
    padding-right: 20%;
    padding-left: 15%;
    width: 100%;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    gap: 15%;
  }
}
.subscription__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 280px;
  flex-basis: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 32px;
  padding: 28px;
  height: 480px;
}
.subscription__item_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 20px;
}
.subscription__item_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}
.subscription__item_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 15px;
}
.subscription__item_body {
  padding-top: 20px;
}
.subscription__item_btn {
  margin-top: 24px;
  width: 100%;
  height: 48px;
}
.subscription__item_discount {
  position: absolute;
  right: -5%;
  top: -8%;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  background-image: url("./../../img/discount.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.subscription__item_discount span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #060606;
}
.subscription__item--primary {
  background-color: #ebfaf3;
}
.subscription__item--primary .subscription__item_title {
  color: var(--neutral-darkest);
}
.subscription__item--primary .subscription__info_item {
  color: var(--neutral-darkest);
}
.subscription__item--primary .item__footer_price {
  color: var(--primary-green);
}
.subscription__item--secondary {
  background-color: var(--primary-green);
}
.subscription__item--secondary .subscription__item_title {
  color: var(--light-color);
}
.subscription__item--secondary .subscription__info_item {
  color: var(--light-color);
}
.subscription__item--secondary .item__footer_price {
  color: var(--light-color);
}
.subscription__item--tertiary {
  background: linear-gradient(225deg, #cb27a2 0%, #7e48c0 100%);
}
.subscription__item--tertiary .subscription__item_title {
  color: var(--light-color);
}
.subscription__item--tertiary .subscription__info_item {
  color: var(--light-color);
}
.subscription__item--tertiary .item__footer_price {
  color: var(--light-color);
}
@media (any-hover: hover) {
  .subscription__item--tertiary .subscription__item_btn:hover:hover {
    background: #7e48c0;
  }
}
@media (max-width: 576px) {
  .subscription__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 150%;
    flex: 1 0 150%;
    scroll-snap-align: center;
  }
}

.subscription__info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}
.subscription__info_item svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  stroke: currentcolor;
}
.subscription__info_item span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}

.item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: auto;
  text-align: center;
}
.item__footer_price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.question {
  margin-bottom: 100px;
  min-height: 124px;
}
.question__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 32px;
  padding: 32px;
  width: 100%;
  min-height: 124px;
  background-color: #ebfaf3;
}
@media (max-width: 967px) {
  .question__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
  }
}
.question__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: var(--neutral-darkest);
}
@media (max-width: 967px) {
  .question__title {
    font-size: 21px;
  }
}
.question__btn {
  border-radius: 24px;
  padding: 20px 36px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--light-color);
}
@media (max-width: 967px) {
  .question__btn {
    padding: 10px 18px;
    font-size: 21px;
  }
}

/* small components: */
.subjects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 32px;
  padding: 28px 32px;
  height: 100px;
  background-color: var(--neutral-lightest);
}
@media (max-width: 1024px) {
  .subjects-item {
    padding: 21px 29px;
    height: 80px;
  }
}
.subjects-item h6 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--neutral-darkest);
}
@media (max-width: 1024px) {
  .subjects-item h6 {
    font-size: 15px;
  }
}
.subjects-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 12px;
  height: 44px;
  min-width: 121px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: var(--neutral-darkest);
  background-color: #ebfaf3;
}
@media (max-width: 1024px) {
  .subjects-item span {
    font-size: 13px;
  }
}

.mobile-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-green);
  opacity: 0.8;
}
.mobile-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding-top: 30%;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
}
.mobile-menu__btn {
  display: none;
  margin-top: 30px;
  width: 100%;
}
@media (max-width: 456px) {
  .mobile-menu__btn {
    display: block;
  }
}
.mobile-menu__nav {
  width: 100%;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.menu-list__item {
  border: 1px solid #fff;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  max-width: 550px;
}
.menu-list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--light-color);
}
.menu-list__item:not(:first-child) {
  margin-top: 10px;
}

.footer {
  width: 100%;
  min-height: 512px;
  background-color: #494949;
}
.footer__logo {
  width: 188px;
  height: 28px;
}
.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.footer__inner {
  padding-top: 56px;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 60px;
}
.footer__main_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
@media (max-width: 1024px) {
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }
}
.footer__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 82px;
}
@media (max-width: 1024px) {
  .footer__cols {
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .footer__cols {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: left;
  gap: 28px;
}
.footer__col_title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--light-color);
}
.footer__col_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 12px;
}
.footer__col_item a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #d6d6d6;
}
@media (any-hover: hover) {
  .footer__col_item a:hover:hover {
    color: #fffbfb;
  }
}
.footer__col_item a:active {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .footer__col_item a {
    font-size: 15px;
  }
}
.footer__bottom {
  border-top: 1px solid #7d7979;
  padding-top: 20px;
}
.footer__bottom_copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #d6d6d6;
}
.footer__bottom_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__bottom_inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .footer__bottom_inner {
    padding-bottom: 5%;
  }
}
.footer__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.footer__agreement_item a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #d6d6d6;
}
@media (any-hover: hover) {
  .footer__agreement_item a:hover:hover {
    color: #fff;
  }
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  max-width: 311px;
  gap: 10px;
}
.footer__address a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 167%;
  color: #d6d6d6;
}
@media (any-hover: hover) {
  .footer__address a:hover:hover {
    color: #fff;
  }
}
.footer__address a:active {
  text-decoration: underline;
}
.footer__socials_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-top: 10px;
  gap: 15px;
}
@media (any-hover: hover) {
  .footer__social img:hover:hover {
    -webkit-filter: drop-shadow(0 0 2px #d6d6d6);
    filter: drop-shadow(0 0 2px #d6d6d6);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}/*# sourceMappingURL=main.css.map */
