<section class="continue">
    <div class="container">
        <div class="continue__inner">
            <h2 class="section__title">Продолжим обучение</h2>
            <div class="continue__subjects">
                <div class="continue-subject">
                    <div class="continue-subject__header">
                        <h6 class="continue-subject__title">Ингушский язык</h6>
                        <div class="continue-subject__module">
                            <span>21 модуль</span>
                        </div>

                    </div>
                    <div class="continue-subject__progress subject-progress">
                        <ul class="list-reset subject-progress__list">
                            <li class="subject-progress__item progress-item">
                                <span class="progress-item__title">
                                    <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 12.6413L10.6027 15L16 10" stroke="#1BAA7D" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <circle cx="12" cy="12" r="8" stroke="#1BAA7D" stroke-width="2" />
                                    </svg>
                                    Модулей выполнено</span>
                                <span class="progress-item__count">7</span>
                            </li>
                            <li class="subject-progress__item progress-item">
                                <span class="progress-item__title">
                                    <svg width="25" height="26" viewbox="0 0 25 26" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.6552 8.98356C17.4461 5.15722 12.5534 3.84622 8.72703 6.05536M16.727 19.9118C12.9007 22.1209 8.00797 20.8099 5.79883 16.9836"
                                            stroke="#F06C20" stroke-width="2" />
                                        <path
                                            d="M20.4546 15.0541C21.5981 10.7864 19.0654 6.39969 14.7977 5.25616M10.6566 20.711C6.38889 19.5674 3.85623 15.1807 4.99976 10.913"
                                            stroke="#F06C20" stroke-width="2" />
                                        <path
                                            d="M13.8203 1.69382L7.9912 4.60837C7.62267 4.79264 7.62267 5.31854 7.9912 5.5028L13.8203 8.41736"
                                            stroke="#F06C20" stroke-width="2" />
                                        <path
                                            d="M11.2988 24.1837L17.1279 21.2691C17.4965 21.0849 17.4965 20.559 17.1279 20.3747L11.2988 17.4601"
                                            stroke="#F06C20" stroke-width="2" />
                                    </svg>Модулей в процессе</span>
                                <span class="progress-item__count">3</span>
                            </li>
                            <li class="subject-progress__item progress-item">

                                <span class="progress-item__title">
                                    <svg width="25" height="24" viewbox="0 0 25 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.333 12L16.9188 16.5858C18.1787 17.8457 17.2864 20 15.5046 20H9.16144C7.37963 20 6.48729 17.8457 7.74722 16.5858L16.9188 7.41421C18.1787 6.15428 17.2864 4 15.5046 4H9.16144C7.37963 4 6.48729 6.15428 7.74722 7.41421L12.333 12Z"
                                            stroke="#7D7979" stroke-width="2" />
                                    </svg>Модулей осталось</span>
                                <span class="progress-item__count">11</span>
                            </li>
                        </ul>
                        <div class="subject-progress__bar"></div>
                    </div>
                </div>
                <div class="continue-subject">
                    <div class="continue-subject__header">
                        <h6 class="continue-subject__title">История</h6>
                        <div class="continue-subject__module">
                            <span>38 модуль</span>
                        </div>

                    </div>
                    <div class="continue-subject__progress subject-progress">
                        <ul class="list-reset subject-progress__list">
                            <li class="subject-progress__item progress-item">
                                <div class="progress-item__icon">
                                    <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 12.6413L10.6027 15L16 10" stroke="#1BAA7D" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <circle cx="12" cy="12" r="8" stroke="#1BAA7D" stroke-width="2" />
                                    </svg>
                                </div>
                                <span class="progress-item__title">Модулей выполнено</span>
                                <span class="progress-item__count">7</span>
                            </li>
                            <li class="subject-progress__item progress-item">
                                <div class="progress-item__icon">
                                    <svg width="25" height="26" viewbox="0 0 25 26" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.6552 8.98356C17.4461 5.15722 12.5534 3.84622 8.72703 6.05536M16.727 19.9118C12.9007 22.1209 8.00797 20.8099 5.79883 16.9836"
                                            stroke="#F06C20" stroke-width="2" />
                                        <path
                                            d="M20.4546 15.0541C21.5981 10.7864 19.0654 6.39969 14.7977 5.25616M10.6566 20.711C6.38889 19.5674 3.85623 15.1807 4.99976 10.913"
                                            stroke="#F06C20" stroke-width="2" />
                                        <path
                                            d="M13.8203 1.69382L7.9912 4.60837C7.62267 4.79264 7.62267 5.31854 7.9912 5.5028L13.8203 8.41736"
                                            stroke="#F06C20" stroke-width="2" />
                                        <path
                                            d="M11.2988 24.1837L17.1279 21.2691C17.4965 21.0849 17.4965 20.559 17.1279 20.3747L11.2988 17.4601"
                                            stroke="#F06C20" stroke-width="2" />
                                    </svg>
                                </div>
                                <span class="progress-item__title">Модулей в процессе</span>
                                <span class="progress-item__count">3</span>
                            </li>
                            <li class="subject-progress__item progress-item">
                                <div class="progress-item__icon">
                                    <svg width="25" height="24" viewbox="0 0 25 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.333 12L16.9188 16.5858C18.1787 17.8457 17.2864 20 15.5046 20H9.16144C7.37963 20 6.48729 17.8457 7.74722 16.5858L16.9188 7.41421C18.1787 6.15428 17.2864 4 15.5046 4H9.16144C7.37963 4 6.48729 6.15428 7.74722 7.41421L12.333 12Z"
                                            stroke="#7D7979" stroke-width="2" />
                                    </svg>
                                </div>
                                <span class="progress-item__title">Модулей осталось</span>
                                <span class="progress-item__count">11</span>
                            </li>
                        </ul>
                        <div class="subject-progress__bar"></div>
                    </div>
                </div>
            </div>
            <div class="continue__footer">
                <a href="#" class="continue__link">Открыть выполненые дисциплины</a>
            </div>
        </div>
    </div>
</section>