<header class="header">
  <div class="container header__container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="/">
          <img src="./../img/svg/logo.svg" alt="Logotype">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="list-reset header__list">
          <li class="header__list_item">
            <a href="#">Уроки</a>
          </li>
          <li class="header__list_item">
            <a href="#">Аттестация</a>
          </li>
          <li class="header__list_item">
            <a href="#">Контакты</a>
          </li>
          <li class="header__list_item">
            <a href="/profile.html">Профиль</a>
          </li>
        </ul>
      </nav>
      <button class="btn-reset btn btn--primary header__btn">
        Войти
      </button>
      <button class="btn-reset burger header__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>