<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__info">
                <h1 class="hero__title">
                    Учимся онлайн в пару кликов
                </h1>
                <p>
                    Бесплатные вводые уроки на первые 14 учебных дней
                </p>
                <button class="btn-reset btn btn--secondary hero__btn">
                    Записаться
                </button>
            </div>
            <div class="hero__image">
                <img src="./../img/Hero/hero_image.png" alt="Hero section image">
            </div>
        </div>
    </div>
</section>