<section class="hero">
    <div class="container hero__container">
        <div class="hero__inner">
            <div class="hero__info">
                <h1 class="hero__title">
                  Учимся онлайн в&nbsp;пару кликов
                </h1>
                <p>
                  Бесплатные вводые уроки на&nbsp;первые 14&nbsp;учебных дней
                </p>
                <button class="btn-reset btn btn--secondary hero__btn">
                    Записаться
                </button>
            </div>
            <div class="hero__image">
              <picture>
                <source srcset="./../img/Hero/hero_image.webp" />
                <img src="./../img/Hero/hero_image.png" alt="Hero section image">
              </picture>
            </div>
        </div>
    </div>
</section>
