<section class="info">
  <h2 class="info__title is-hidden">info section</h2>
    <div class="container">
        <div class="info__inner">
            <ul class="list-reset info__list">
                <li class="info__item">
                    <span>1268</span>
                    <p>обучающих уроков</p>
                </li>
                <li class="info__item">
                    <span>100+</span>
                    <p>квалифицированных учителей</p>
                </li>
                <li class="info__item">
                    <span>86%</span>
                    <p>учеников, прошедших аттестацию</p>
                </li>
            </ul>
        </div>
    </div>
</section>
