<section class="learn">
    <div class="container">
        <div class="learn__inner">
            <h2 class="section__title">Учим шаг за&nbsp;шагом</h2>
            <div class="learn__items">
                    <ul class="list-reset learn__items_list subjects-list">
                        <li class="learn__item subjects-item">
                            <h6>Ингушский язык</h6>
                            <span>85 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>История</h6>
                            <span>12 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>Русский язык</h6>
                            <span>53 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>Ингушский язык</h6>
                            <span>85 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>История</h6>
                            <span>12 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>Русский язык</h6>
                            <span>53 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>Ингушский язык</h6>
                            <span>85 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>История</h6>
                            <span>12 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>Русский язык</h6>
                            <span>53 модулей</span>
                        </li>
                        <li class="learn__item subjects-item">
                            <h6>Полный каталог дисциплин</h6>
                            <span>26 дисциплин</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>
