<section class="learn">
    <div class="container">
        <div class="learn__inner">
            <h2 class="section__title">Учим шаг за шагом</h2>
            <div class="learn__items">
                <div class="learn__items_top">
                    <div class="learn__column">
                        <ul class="list-reset learn__items_list">
                            <li class="learn__item">
                                <h6>Ингушский язык</h6>
                                <span>85 модулей</span>
                            </li>
                            <li class="learn__item">
                                <h6>История</h6>
                                <span>12 модулей</span>
                            </li>
                            <li class="learn__item">
                                <h6>Русский язык</h6>
                                <span>53 модулей</span>
                            </li>
                        </ul>
                    </div>
                    <div class="learn__column">
                        <ul class="list-reset learn__items_list">
                            <li class="learn__item">
                                <h6>Английский язык</h6>
                                <span>36 модулей</span>
                            </li>
                            <li class="learn__item">
                                <h6>Химия</h6>
                                <span>95 модулей</span>
                            </li>
                            <li class="learn__item">
                                <h6>Информатика</h6>
                                <span>49 модулей</span>
                            </li>
                        </ul>
                    </div>
                    <div class="learn__column">
                        <ul class="list-reset learn__items_list">
                            <li class="learn__item">
                                <h6>Математика</h6>
                                <span>58 модулей</span>
                            </li>
                            <li class="learn__item">
                                <h6>Физика</h6>
                                <span>62 модулей</span>
                            </li>
                            <li class="learn__item">
                                <h6>История</h6>
                                <span>12 модулей</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="learn__items_bottom">
                    <ul class="list-reset learn__items">
                        <li class="learn__item">
                            <h6>Полный каталог дисциплин</h6>
                            <span>26 дисциплин</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>