<div class="header__mobile_menu mobile-menu" data-menu>
    <div class="mobile-menu__inner">
        <nav class="mobile-menu__nav">
            <ul class="list-reset mobile-menu__list menu-list">
                <li class="menu-list__item">
                    <a href="#">Уроки</a>
                </li>
                <li class="menu-list__item">
                    <a href="#">Аттестация</a>
                </li>
                <li class="menu-list__item">
                    <a href="#">Контакты</a>
                </li>
                <li class="menu-list__item">
                    <a href="/profile.html">Профиль</a>
                </li>
            </ul>
        </nav>
        <button class="btn-reset btn btn--secondary mobile-menu__btn">
            Войти
        </button>
    </div>
</div>
