<section class="other-subjects">
    <div class="container">
        <div class="other-subjects__inner">
            <h2 class="section__title">Другие дисциплины</h2>
            <div class="other-subjects__top">
                <ul class="list-reset other-subjects__list subjects-list">
                    <li class="subjects-item other-subjects__item">
                        <h6>ИЗО</h6>
                        <span>85 модулей</span>
                    </li>
                    <li class="subjects-item other-subjects__item">
                        <h6>Английский язык</h6>
                        <span>36 модулей</span>
                    </li>
                    <li class="subjects-item other-subjects__item">
                        <h6>Математика</h6>
                        <span>58 модулей</span>
                    </li>
                    <li class="subjects-item other-subjects__item">
                        <h6>История</h6>
                        <span>12 модулей</span>
                    </li>
                    <li class="subjects-item other-subjects__item">
                        <h6>Химия</h6>
                        <span>95 модулей</span>
                    </li>
                    <li class="subjects-item other-subjects__item">
                        <h6>Физика</h6>
                        <span>62 модулей</span>
                    </li>
                    <li class="subjects-item other-subjects__item">
                        <h6>Полный каталог дисциплин</h6>
                        <span>26 дисциплин</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
