<section class="subscription">
    <div class="container">
        <!-- #0F4F3B -->
        <div class="subscription__inner">
            <h2 class="section__title">Выбираем лучшую подписку</h2>
            <ul class="list-reset subscription__list">
                <li class="subscription__item subscription__item--primary">
                    <div class="subscription__item_header">
                        <h6 class="subscription__item_title">14 дней</h6>
                    </div>
                    <div class="subscription__item_body">
                        <ul class="list-reset subscription__item_info subscription__info">
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>3 предмета</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>20 занятий/мес</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>12 модулей</span>
                            </li>
                        </ul>
                    </div>
                    <div class="subscription__item_footer item__footer">
                        <span class="item__footer_price">
                            Бесплатно!
                        </span>
                        <button class="btn-reset btn btn--primary subscription__item_btn">Попробовать</button>
                    </div>
                </li>
                <li class="subscription__item subscription__item--secondary">
                    <div class="subscription__item_header">
                        <h6 class="subscription__item_title">30 дней</h6>
                    </div>
                    <div class="subscription__item_body">
                        <ul class="list-reset subscription__item_info subscription__info">
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>24 предмета</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Неограниченное количество занятий</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Неограниченный доступ к модулям</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Аттестация уроков</span>
                            </li>

                        </ul>
                    </div>
                    <div class="subscription__item_footer item__footer">
                        <span class="item__footer_price">
                            999 ₽
                        </span>
                        <button class="btn-reset btn btn--secondary subscription__item_btn">Записаться</button>
                    </div>
                    <div class="subscription__item_discount">
                      <span>-10%</span>
                    </div>
                </li>
                <li class="subscription__item subscription__item--secondary">
                    <div class="subscription__item_header">
                        <h6 class="subscription__item_title">120 дней</h6>
                    </div>
                    <div class="subscription__item_body">
                        <ul class="list-reset subscription__item_info subscription__info">
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>24 предмета</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Неограниченное количество занятий</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Неограниченный доступ к модулям</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Аттестация уроков</span>
                            </li>
                        </ul>
                    </div>
                    <div class="subscription__item_footer item__footer">
                        <span class="item__footer_price">
                            2 499 ₽
                        </span>
                        <button class="btn-reset btn btn--secondary subscription__item_btn">Записаться</button>
                    </div>
                    <div class="subscription__item_discount">
                      <span>-10%</span>
                    </div>
                </li>
                <li class="subscription__item subscription__item--tertiary">
                    <div class="subscription__item_header">
                        <h6 class="subscription__item_title">14 дней</h6>
                    </div>
                    <div class="subscription__item_body">
                        <ul class="list-reset subscription__item_info subscription__info">
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>24 предмета</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Неограниченное количество занятий</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Неограниченный доступ к модулям</span>
                            </li>
                            <li class="subscription__info_item">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.6413L10.6027 15L16 10" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <circle cx="12" cy="12" r="8" stroke-width="2" />
                                </svg>
                                <span>Аттестация уроков</span>
                            </li>
                        </ul>
                    </div>
                    <div class="subscription__item_footer item__footer">
                        <span class="item__footer_price">
                            7 999 ₽
                        </span>
                        <button class="btn-reset btn btn--secondary subscription__item_btn">Записаться</button>
                    </div>
                    <div class="subscription__item_discount">
                      <span>-10%</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
