<section class="top-classmates">
    <div class="container">
        <div class="top-classmates__inner">
            <h2 class="section__title">Самые активные одноклассники</h2>
            <div class="top-classmates__tabs">
                <div class="top-classmates__tab active">
                    <span>Одноклассники</span>
                </div>
                <div class="top-classmates__tab">
                    <span>Вся параллель</span>
                </div>
            </div>
            <table class="top-classmates__table classmates-table">
                <tr class="classmates-table__header">
                    <th>Место</th>
                    <th>Ученик</th>
                    <th>Затрачено времени</th>
                    <th>Выполнено модулей</th>
                    <th>Баллы</th>
                </tr>
                <tr class="classmates-table__item table-item">
                    <td class="table-item__place">
                        <div>
                            <span>1</span>
                        </div>
                    </td>
                    <td class="table-item__name">Дзауров Ахмед</td>
                    <td class="table-item__time">2ч 37м</td>
                    <td class="table-item__done">18</td>
                    <td class="table-item__points">128</td>
                </tr>
                <tr class="classmates-table__item table-item">
                    <td class="table-item__place">
                        <div>

                            <span>1</span>
                        </div>
                    </td>
                    <td class="table-item__name">Дзауров Ахмед</td>
                    <td class="table-item__time">2ч 37м</td>
                    <td class="table-item__done">18</td>
                    <td class="table-item__points">128</td>
                </tr>
                <tr class="classmates-table__item table-item">
                    <td class="table-item__place">
                        <div>
                            <span>1</span>
                        </div>
                    </td>
                    <td class="table-item__name">Дзауров Ахмед</td>
                    <td class="table-item__time">2ч 37м</td>
                    <td class="table-item__done">18</td>
                    <td class="table-item__points">128</td>
                </tr>
            </table>
        </div>
    </div>
</section>
